@media (min-width: 1200px) {
    .content-header {
        width: 1140px;
    }

    .content-menunv-mncnhd {
        margin-left: 97.5156px;
        margin-right: 97.5156px;
    }

    .content-section-hero {
        width: 1140px;
    }

    .text-appstore {
    }

    .text-googleplay {
        margin-bottom: 2px;
        font-weight: 600;
        white-space: nowrap;
    }

}