@media (min-width: 1200px) {
    .content-header {
        width: 1140px;
    }

    .content-menunv-mncnhd {
        margin-left: 97.5156px;
        margin-right: 97.5156px;
    }

    .content-section-hero {
        width: 1140px;
    }


    .content-imagebx {
    }

    .contentbxonhe h1 {
        width: 451px;
        font-size: 38px;
    }

    .contentbxonhe p {
        width: 451px;
    }

    .button-appstore {
        height: 49px;
    }

    .button-googleplay {
        height: 49px;
        width: 177.047px;
    }

    .text-appstore {
        margin-bottom: 2px;
        font-weight: 600;
    }

    .text-googleplay {
        margin-bottom: 2px;
        font-weight: 600;
        white-space: nowrap;
    }

}