@media (min-width: 1400px) {
    .content-header {
        width: 1320px;
    }

    .content-menunv-mncnhd {
        margin-left: 187.516px;
        margin-right: 187.516px;
    }

    .content-imagebx {
        height: 604.125px;
        width: 746px;
    }

    .content-imagebx img {
        width: 746px;
    }

    .contentbxonhe h1 {
        width: 526px;
    }

    .contentbxonhe p {
        width: 526px;
    }

    .content-section-hero {
        width: 1320px;
    }

    .text-appstore {
        margin-bottom: 0;
    }

    .text-googleplay {
        margin-bottom: 0;
    }

    .button-appstore {
        height: 48px;
    }

    .button-googleplay {
        height: 48px;
        width: 176.047px;
    }


}