@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

header {
    position: relative;
    width: 100%;
    padding: 18px 0;
    z-index: 99;
    background-color: #ff6b81;

}

body {
    overflow-y: scroll;
}

.content-header {
    width: 100%;
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;
}

.content-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.content-iconlogolfpg {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 16px;
    font-size: 20px;
    cursor: pointer;
}

.content-iconlogolfpg img {
    display: flex;
    width: 160px;
}

.menu-buttonsprg {
    font-size: 20px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: 0;
    transition: box-shadow .15s ease-in-out;
    cursor: pointer;
}


.menu-buttonsprg-line {
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px 0;
    position: relative;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
}


.section-hero {
    position: relative;
    padding: 37px 0 50px 0;
    background-color: #ff6b81;
}

.button-Gttnwrgt {
    display: none;
}

.menunv-mncnhd {
    display: none;
}

.content-section-hero {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.content-btwnbxot {
    display: flex;
    align-items: center;
    width: 100%;
}

.contentbxonhe {
    width: 100%;
    align-items: center;
    padding: 0 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.contentbxonhe h1 {
    color: rgb(255, 255, 255);
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    text-transform: capitalize;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.09) 0px 3px 8px;
}

.contentbxonhe p {
    color: rgb(255, 255, 255);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 15px;
    text-align: center;
}

.content-twbuttonhe {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    line-height: 22.5px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.button-appstore {
    display: flex;
    padding: 12px 25px;
    font-size: 14px;
    width: 261px;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 7px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 45px;
}

.button-appstore:hover {
    color: #fff;
    background-color: #081828;
}

.icon-appstore img {
    font-size: 17px;
    width: 16px;
    height: 16px;

    font: normal normal normal 1em/1 'LineIcons';
    color: #ff6b81;
    margin-right: 9px;
}


.text-appstore {
    color: #ff6b81;
}