@media (min-width: 992px) {
    header {
        padding: 0;
    }

    .content-header {
        width: 960px;
    }

    .content-iconlogolfpg img {
        width: 160px;
        flex-shrink: 0;
    }

    .text-Gttnwrgt {
        font-size: 15px;
        font-weight: 600;
        white-space: nowrap;
        height: 50.5px;
    }

    .menu-buttonsprg {
        display: none;
    }

    .menunv-mncnhd {
        display: flex;
        flex-basis: auto;
        align-items: center;
    }

    .content-menunv-mncnhd {
        display: flex;
        flex-direction: row;
        font-family: "Inter", sans-serif;
        padding: 0;
        margin: 0;
        margin-left: 7.51562px;
        margin-right: 7.51562px;
    }

    .nav-item-menunv {
        z-index: 1;
        position: relative;
        margin-right: 40px;
        list-style: none;
    }

    .nav-item-menunv {
        position: relative;
        color: #fff;
        padding: 35px 0;
        align-items: center;
    }
}