@media (min-width: 768px) {
    .content-iconlogolfpg img {
        width: 170px;
    }

    .button-Gttnwrgt {
        display: block;
        box-sizing: border-box;
    }

    .text-Gttnwrgt {
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        padding: 12px 30px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        font-family: "Inter", sans-serif;
}