@media (min-width: 768px) {
    .content-iconlogolfpg img {
        width: 170px;
    }

    .button-Gttnwrgt {
        display: block;
        box-sizing: border-box;
    }

    .text-Gttnwrgt {
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        padding: 12px 30px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        font-family: "Inter", sans-serif;
        line-height: 21px;
        transition: 0.2s;
    }

    .text-Gttnwrgt:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(255, 107, 129);
    }

    .content-header {
        width: 720px;
    }


    .content-section-hero {
        width: 720px;
    }

    .section-hero {
        padding: 68px 0 50px 0;
    }

    .contentbxonhe h1 {
        font-size: 30px;
        font-weight: 700;
    }
    
    .contentbxonhe p {
        margin-top: 34px;
        font-size: 15px;
    }

    .content-twbuttonhe {
        flex-direction: row;
        align-items: center;
        margin-top: 41px;
    }

    .button-appstore {
        margin-right: 16px;
        margin-bottom: 0;
        width: 142.203px;
    }

    .button-googleplay {
        width: 169.578px;
        margin-right: 12px;
    }

    .text-appstore {
        white-space: nowrap;
    }

    .content-imagebx img {
        width: 696px;
    }

}