@media (min-width: 992px) {
    header {
        padding: 0;
    }

    .content-header {
        width: 960px;
    }

    .content-iconlogolfpg img {
        width: 160px;
        flex-shrink: 0;
    }

    .text-Gttnwrgt {
        font-size: 15px;
        font-weight: 600;
        white-space: nowrap;
        height: 50.5px;
    }

    .menu-buttonsprg {
        display: none;
    }

    .menunv-mncnhd {
        display: flex;
        flex-basis: auto;
        align-items: center;
    }

    .content-menunv-mncnhd {
        
    }
}