@media (min-width: 992px) {
    header {
        padding: 0;
    }

    .content-header {
        width: 960px;
    }

    .content-iconlogolfpg img {
        width: 160px;
        flex-shrink: 0;
    }

    .text-Gttnwrgt {
        font-size: 15px;
        font-weight: 600;
        white-space: nowrap;
        height: 50.5px;
    }

    .menu-buttonsprg {
        display: none;
    }

    .menunv-mncnhd {
        display: flex;
        flex-basis: auto;
        align-items: center;
    }

    .content-menunv-mncnhd {
        display: flex;
        flex-direction: row;
        font-family: "Inter", sans-serif;
        padding: 0;
        margin: 0;
        margin-left: 7.51562px;
        margin-right: 7.51562px;
    }

    .nav-item-menunv {
        z-index: 1;
        position: relative;
        margin-right: 40px;
        list-style: none;
    }

    .nav-item-menunvd {
        z-index: 1;
        position: relative;
        list-style: none;
        font-size: 15px;
        color: #fff;
        padding: 35px 0;
        align-items: center;
        font-weight: 600;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.3s ease-out 0s;
    }

    .nav-item-menunv {
        position: relative;
        font-size: 15px;
        color: #fff;
        padding: 35px 0;
        align-items: center;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-out 0s;
    }

    .content-btwnbxot {
        flex-direction: row;
    }

    .content-section-hero {
        width: 960px;
    }

    .content-imagebx {
        height: 434.062px;
        width: 536px;
        margin-top: 0;
    }

    .section-hero {
        padding: 87px 0 120px 0;
    }

    .contentbxonhe h1 {
        position: relative;
        font-size: 40px;
        text-align: left;
        bottom: 1px;
        font-weight: 800;
        line-height: 50px;
        width: 376px;
    }

    .contentbxonhe p {
        text-align: left;
        width: 376px;
        margin-top: 29px;
        line-height: 24px;
    }

    .contentbxonhe {
        padding: 0;
    }

    .content-twbuttonhe {
        position: relative;
        justify-content: flex-start;
        margin-top: 39px;
        top: 1px;
    }

    .button-appstore {
        height: 48px;
        width: 157.734px;
        padding: 13px 30px;
    }

    .button-googleplay {
        height: 48px;
        width: 176.047px;
        padding: 11px 30px;
    }

    .text-appstore {
        font-size: 15px;
    }

    .text-googleplay {
        font-size: 15px;
    }
}